.faixa {
  background: #ECEFED;
  width: 100%;
  margin: 0;
  padding: 0;
}

.lessons {
  display: flex;
  color:black;
  margin: 0 auto;
  font-weight: bold;
  justify-content: center;
  padding-top: 30px;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:  25px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top:60px;
}


.card {
  width: 200px;
  height: 100px;
  border-radius: 8px;
  color: white;

}

.card strong {
  color:#65CB81;
}


.pic-card {
  display: flex;
  flex-direction: row;
  background-size: cover;
  border-radius: 8px;
  height: 200px;
  align-items: flex-end;

}



.note-1 {
  display: flex;
  color: gray;
  justify-content: center;
  padding-bottom: 20px;
}

.chamada{
  background: #FAFFFC;
}

.chamada h1 {
  display: flex;
  justify-content: center;
  color:black;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 10px;
}

.email {
  display: flex;
  border: solid #65CB81;
  width: 200px;
  border-radius: 8px;
  align-items: center;
}

.email-content {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.mister {
  background:#FAFFFC;
}

.avatars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 120px;
}

.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


.foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

h1 {
  color:gray;
}
