.nova {
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

.lessons {
  color:black;
  margin: 60px;
  font-weight: bold;

}

.cardinhos {
  display: flex;
}


.cardinho {
  width: 20px;
  border-radius: 8px;
}
