
body {
  background: #012607E6;
}



.regions {
  display: flex;
  color: white;
  margin-left: 60px;
  font-weight: bold;
}


.regions .regions {
  color: white;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.regions .regions.active {
  opacity: 1;
  border-bottom: 3px solid #70AF77;
}

.conteudo {
  color:white;
  margin-left: 60px;
  font-weight: bold;
  border-bottom: 3px solid #70AF77;
  width: 40px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  background-image: url("cururu.png");
  background-size: cover;
  height: 20vh;
  padding: 0;
  align-items: flex-start;

}

.modal-body {
  background: #012607E6;
}

.modal-title {
  margin-left: 60px;

}

.cards-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
}


.card-modal {
  width: 100px;
  height: 200px;
  border-radius: 8px;
  color: white;
  background-color: grey;

}

.modal-footer {
    display: flex;
    flex-direction: column;
    background:#012607E6;
}

.footer {
  color:whitesmoke;
}
