
body {
  background: #012607E6;
}



.regions {
  display: flex;
  color: white;
  margin-left: 60px;
  font-weight: bold;
}


.regions .regions {
  color: white;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.regions .regions.active {
  opacity: 1;
  border-bottom: 3px solid #70AF77;
}

.conteudo {
  color:white;
  margin-left: 60px;
  font-weight: bold;
  border-bottom: 3px solid #70AF77;
  width: 40px;
}
