  <div class="header">
    <%= link_to image_tag("logo.svg", width: 80), root_path %>
    <h1>Learn</h1>
    <h1>Academy</h1>
    <h1>Movies</h1>
    <h1>About Us</h1>
    <%= image_tag("lupa.png", width: 20) %>
    <%= image_tag("brazil.png", width: 30) %>
    <%= image_tag("profile.png", width: 30) %>
  </div>
