<div class="filme">
  <div><iframe width="520" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe></div>
  <div class="cart" data-controller="turbo">
    <h1>Bundle discount</h1>
    <div class="cardinho" >
      <input type="checkbox" name="" id="full" data-action="change->turbo#toggle">
      <label for="Full">Full</label>
    </div>
    <h1>Course in parts</h1>
    <div class="cardinho-grey">
      <input type="checkbox" name="" id="stuff" data-turbo-target="box">
      <label for="Stuff">Stuff</label>
    </div>
    <div class="cardinho-grey">
      <input type="checkbox" name="" id="stuff" data-turbo-target="box">
      <label for="Stuff">Stuff</label>
    </div>
    <div class="cardinho-grey">
      <input type="checkbox" name="" id="stuff" data-turbo-target="box">
      <label for="Stuff">Stuff</label>
    </div>
    <button>ADD TO CHART</button>
  </div>
</div>

<div class="section2">
  <div>
    <div>O violão na orquestra</div>
      <div class="mini">
        <div>
          <p>Lessons</p>
          <h2>26 lessons</h2>
        </div>
        <div>
          <p>Level</p>
          <h2>Advanced</h2>
        </div>
        <div>
          <p>Duration</p>
          <h2>20h30m</h2>
        </div>
      </div>
    <div class="description">
      Description
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt omnis, exercitationem cupiditate corrupti totam consequuntur porro laudantium dicta hic iusto sunt, tempora eligendi fugit odit corporis ipsam vero recusandae dolorem.
      <p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo delectus laudantium temporibus soluta voluptas. Rem deleniti hic sunt saepe numquam aut ipsa quaerat omnis totam, quam dolorum nulla cum pariatur?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet obcaecati nesciunt laboriosam exercitationem perferendis temporibus cupiditate, explicabo esse commodi ipsum aliquid similique nemo ullam atque adipisci eligendi aliquam placeat ab.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, natus architecto consequatur inventore nihil quasi sapiente dolorum officia maiores quis voluptate eligendi provident minus similique totam temporibus, quam esse.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consectetur quod praesentium nemo veniam laudantium consequatur velit voluptatem quam quae. Similique accusantium voluptate voluptates quisquam saepe culpa minima laborum hic?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti dignissimos molestiae facilis quae repellat dolor id tenetur sint provident soluta dolorem laborum, eligendi natus cum aliquid sunt tempora numquam. Velit!
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo delectus laudantium temporibus soluta voluptas. Rem deleniti hic sunt saepe numquam aut ipsa quaerat omnis totam, quam dolorum nulla cum pariatur?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet obcaecati nesciunt laboriosam exercitationem perferendis temporibus cupiditate, explicabo esse commodi ipsum aliquid similique nemo ullam atque adipisci eligendi aliquam placeat ab.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, natus architecto consequatur inventore nihil quasi sapiente dolorum officia maiores quis voluptate eligendi provident minus similique totam temporibus, quam esse.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consectetur quod praesentium nemo veniam laudantium consequatur velit voluptatem quam quae. Similique accusantium voluptate voluptates quisquam saepe culpa minima laborum hic?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti dignissimos molestiae facilis quae repellat dolor id tenetur sint provident soluta dolorem laborum, eligendi natus cum aliquid sunt tempora numquam. Velit!
      </p>
    </div>
  </div>

  <div class="card-direita">
    <div class="cart-direita">
      Sugested courses
      <div class="card">
        <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
          <p>Produção musical no samba</p>
        </div>
        <h1><strong>Mestre Josemar</strong> teaches you</h1>
      </div>
    </div>
    <div class="cart-direita">
      About the mentor
      <div class="avatar">
      <%= image_tag("flute.jpg") %>
      <h1>Zeca da flauta</h1>
      <p>Flute</p>
    </div>
    </div>
  </div>
</div>
