.header {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  align-items: center;
  margin-right: 60px;
  text-decoration: none;
  padding: 10px;
}

.header link {
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 1rem;
  margin: 0;
}
